#title {
  text-align: center;
  margin: 0 3;
}

#username, #password {
  width: 50%;
  margin: 1;
}

#login_button {
  width: 20%;
  margin: 1;
}

#msg {
  text-align: center;
  margin-top: 1;
}

#entry-list-container {
    height: 100%;
    padding: 1;
    layout: vertical;
}

#table {
    height: 1fr;
    border: solid $accent;
    padding: 1;
}

#header {
    height: auto;
    padding: 0 1;
    layout: horizontal;
    align: center middle;
}

#main-layout {
    height: 100%;
    layout: vertical;
    padding: 1;
}

#input-fields, #buttons {
    layout: horizontal;
    height: auto;
    padding-bottom: 1;
}

#service-input,
#username-input,
#password-input {
    width: 15%; /* Adjust this as needed */
}

#search-input {
    width: 40%;
    margin-right: 1;
}

#search-results {
    height: 1fr; /* fills remaining space */
    border: solid $accent;
}

#entry-table {
    height: 1fr; /* fills remaining space */
    border: solid $accent;
}

#title {
    text-align: center;
    height: auto;
    padding: 1 1;
}

#message {
    height: auto;
    color: $success;
    padding: 0 1;
}