#title {
  text-align: center;
  margin: 1 3;
}

#username, #password {
  width: 50%;
  margin: 1;
}

#login_button {
  width: 20%;
  margin: 1;
}

#msg {
  text-align: center;
  margin-top: 1;
}

#entry-list-container {
    height: 100%;
    padding: 1;
    layout: vertical;
}

#table {
    height: 1fr;
    border: solid $accent;
    padding: 1;
}

#header {
    height: auto;
    padding: 1;
    layout: horizontal;
    align: center middle;
}